@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(135deg, #524ce7 0%, #c6ef3e 50%, #de4b15 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header #logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 2em;
  margin-top: -20px;
  border-radius: 50%;
}

#header #logo:hover {
  filter: drop-shadow(0 0 2em #2630edaa);
}

#header #title {
  margin-top: -30px;
}

#login-section {
  background-color: white;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 576px) {
  #header {
    padding: 10px;
  }
  #login-section {
    padding: 20px;
  }
}
