@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(135deg, #524ce7 0%, #c6ef3e 50%, #de4b15 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
}


#header #logo {
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 50%;
  margin-top: -20px;
  width: 250px;
}

#header #title {
  margin-top: -30px;
}

#login-section {
  background-color: white;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 576px) {
  #header {
  }
  #header #logo {
    width: 300px;
    margin-top: 0px;
  }

  #login-section {
    padding: 20px;
    margin-bottom: 20px;
  }
}
